
.btn{
  font-weight: bold;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  padding: 20px 40px;
}
.btn-primary{
  color:#fff;
  background-color: #0090C5;
}
.btn-secondary{
  background-color: #eee;
  color:#444;
}
